/* GENERAL ------------------------------------------------------------*/

body{
    line-height:1;
    color:#49494b; 
    background:#f0efeb;
    font-family:Tahoma,Arial,Helvetica,sans-serif;
    font-size:100%;
    font-size:14px;
}
body .o{
    width: 50%;
    background: white;
}

a{
    color:#42c8f4;
}
h1{font-size:30px;}
h2{font-size:28px;}
h3{font-size:26px;}
h4{font-size:24px;}
h5{font-size:22px;}
h6{font-size:20px;}

h1, h2, h3, h4, h5, h6{
    margin-bottom:.0em;
}
.headline{
    margin-top:30px;
    margin-bottom:30px; 
    font-size:24px; 
    text-align:center;
}
.headline-h{
    margin:25px 0; 
    font-size:18px; 
    text-align:center;
}
.headline-l{
    font-size:17px; 
    text-align:center;
    color: #49494b;
}
#header #main, #footer, #bottom{
    width:100%;
}
#header{
    height:134px;
    background:#e5e3dc url("../images/webtreats_blue_creme_pattern_93.jpg");
    border-bottom:1px solid #fff;
}
#home-header{
    height:215px; 
    background:#e5e3dc url("../images/pattern5.jpg");
    border-bottom:1px solid #fff;
}

#home-header-main{
    height:188px; 
    background:#e5e3dc url("../images/pattern5.jpg");
    border-bottom:1px solid #fff;
}

#home-header .degree, #header .degree{
    background:url("../images/top-degree.png") repeat-x; 
    height:100%;
    width:100%;
}
.top-search{
    position:absolute;
    top:88px; 
    right:10px;
}
#home-header .search-err{
    color: #E3121B;
    font-size: 14px;
    width: 210px;
    position: absolute;
    top:70px; 
    right:4px;
    margin-left: 50px;
}
#home-header .link{
    position: absolute;
    top:46px; 
    right: 0px;
    margin-right: 14px;

}
#home-header .link a{
    text-decoration: none;
    color: #42c8f4;//#999;//#49494b;
    font-size: 22px;
}
#main{
    width: 100%;
}
.wrapper{
    width:1000px; 
    margin:0 auto;
    position:relative;
}

.shadow-divider{
    clear:both; 
    height:25px; 
    width:100%; 
    background:url("../images/sprites.png") no-repeat 0 -416px;
    margin-bottom:20px;
}
.right{float:right;}
.left{float:left;}
.holder{overflow:hidden;}

::-webkit-input-placeholder{
    color: #aaa !important; 
}

::-moz-input-placeholder{
    color: rgba(255,255,255,0.6);
}

/* TABLE ------------------------------------------------------------*/

table, td, th{
    vertical-align:top;
}
table{
    border-collapse:separate; 
    border-spacing:0; 
    width:100%; 
    text-align:left;
}
th{
    padding:10px;
}
td{
    padding:20px;
    border-bottom:0px solid white;
    border-top:0px solid white; 
}

.table-data{
    border-collapse:separate; 
    border-spacing:0; 
    margin-bottom:28px; 
    width:100%; 
    text-align:left;
}
.table-data td{
    padding:10px;
    border-bottom:1px solid white;
    border-top:1px solid white; 
    vertical-align:top;
}

.table-data a{
   // text-decoration: none;
    color: #49494b;//#42c8f4;//#999;//#49494b;
    font-size: 15px;
}

.table-pub{
    border-collapse:separate; 
    border-spacing:0; 
    margin-bottom:28px; 
    width:70%; 
    text-align:left;
}

.table-pub td{
    padding:10px;
    border-bottom:1px solid white;
    border-top:1px solid white; 
    vertical-align:top;
}

.table-data td{
    padding:10px;
    border-bottom:1px solid white;
    border-top:1px solid white; 
    vertical-align:top;
}

.rating-table{
    border-collapse:separate; 
    border-spacing:0; 
  //  width:100%; 
    text-align:left;
}

.rating-table td{
   padding-bottom: 5px;
   padding-right: 1px;
   padding-left: 1px;
   border-bottom: 1px;
   width: 5px;
}

.rating{
     margin-top: 30px;
}

/* TITLE ------------------------------------------------------------*/

.title-holder{
    display:block; 
    overflow:hidden; 
    position:relative; 
    width:1000px;
    height:82px;
    margin-bottom:10px; line-height:1em;
}
.title-holder .title-t{
    display:block; 
    float:left;
    font-size:28px;
    color:#49494b;
    margin-top:40px;
    margin-left:23px;
}

.title-holder .title-m{
    display:block; 
    float:left;
    font-size:28px;
    color:#49494b;
    margin-top:40px;
}

.title-holder .title-t a{
    color:#49494b;
}
.title-holder a{
    color:#adadad;
    text-decoration: none;
}
.title-holder .subtitle{
    display:block; 
    float:left; 
    font-size:20px; 
    color:#999; 
    margin-top:35px;
    margin-left:15px;
}
.title-holder .username{
    display:block;
    float:right; 
    font-size:20px; 
    color:#999; 
    margin-top:15px;
    margin-right:15px;
}
.title-holder .link-button{
    position:absolute;
    top:25px;
    right:30px;
}

/* SLIDESHOW ------------------------------------------------------------*/

#main-image{
    overflow:hidden; 
    position:relative; 
    left:0;
    width:990px; 
    height:420px; 
    margin-bottom:20px; 
    background:url("../images/book3.jpg") no-repeat;
    z-index:0;
    border: 2px solid #f0efeb;
}
/* BOOK PAGE ------------------------------------------------------------*/

#all-div{
}
.text-main{
    text-align: justify;
    margin-bottom: 30px;
    line-height: 120%;
}
.fmr-div{
    display: flex;
    flex-direction: row;
    display: -webkit-flex;
}
.home-content{
    position:relative; 
    overflow:hidden; 
    top:-90px; 
    min-height:1050px;
}

.home-content-main{
    position:relative; 
    overflow:hidden; 
   // top:-90px; 
    min-height:1050px;
}

.home-content-main a{
    // text-decoration: none;
    color: #49494b;//#42c8f4;//#999;//#49494b;
    font-size: 15px;
}

.thumb-d {
    padding: 7px;
    width: 100px;
    height: 159;
    position: top;
}
.thumb{
    width: 112px;
    height: 159px;
    padding-right: 15px;
    margin-right: 15px;
}

.bullet-title{
    background:url("../images/sprites.png") no-repeat 0 -815px;
    padding-left:40px;
    margin-bottom:0px;
    margin-right:0px;
    padding-bottom: 13px;
}
.bullet-title .big{
    color:#49494b;
    font-size:20px;
    line-height:35px;
}
.bullet-title .small{
    color:#999; 
    margin-top:2px;
    font-size:16px;
    line-height:0.4em;
    padding-left: 1px;
}

/* BOOKS LIST ------------------------------------------------------------*/

#genId{}
.list-all{
    width:980px;
    //height: 2000px;
    margin-right: 10px;
    margin-left: 10px;
    float:right;
    //position: relative;
    //background-size:cover;
}

.image-holder{
    overflow:hidden;
    width:150px;
    display:block;
    float: left;
    padding-left: 0px;
    margin-top: 12px;
    margin-bottom: 16px;
}
.image-holder li{
    display:block;
    float:left;
    width:120px;
    position:relative;
    margin-bottom:10px;
    margin-right:0px;
}
.book-name{
    //display:block; 
    padding-left: 4px; 
    width: 450px;
    margin-bottom: 2px;
    float: left;
    margin-left: 0px;
    margin-top: 13px;
    color:#adadad;
    font-size: 16px;
}
.book-name a{
    text-decoration: none;
    color:#adadad;
}
.book-score{
    background-color: #D15A04;
    height: 28px;
    width: 35px;
    font-size: 17px;
    text-color: white;
    color: #fff;
    line-height: 28px;
    padding-right: 1px;
    text-align: center;
    margin-top: 1px;
    float:left;
    margin-left: 5px;
    //margin-bottom: 20px;
}
.book-date{
    color:#49494b;
    font-size:12px; 
    text-align:left;
    width: 100px;
    float: left;
    margin-top: 15px;
    margin-left: 150px;
    margin-bottom: 10px;
}


/* PAGER ------------------------------------------------------------*/

.pager{
    overflow:hidden; 
    margin-right:20px;
    margin-top:40px; 
    margin-bottom:20px;
    width: 100%;
    height: 50px;
}


/* REVIEWS ------------------------------------------------------------*/

.books-list{
    //display:block; 
    border: 2px solid #a1a1a1;
    padding: 8px 20px; 
    background: white;
    border-radius: 25px;
    margin-top:10px;
    float: left;
    width: 95%;
}
.books-list li{
    margin-bottom:10px;
    line-height:1.5em;
}
.critic-name{
    display:block; 
    margin-bottom: 5px;
}
.critic-body{
    margin-top: 35px;
    margin-bottom: 10px;
}
.critic-date{
    color:#adadad;
    font-size:12px; 
    text-align:left;
    // width: 300px;
    float: left;
    margin-top: 5px;
    margin-bottom: 10px;
}
.critic-date span{
    float:left; 
}
.critic-book-score{
    background-color: #D15A04;
    height: 28px;
    width: 80px;
    font-size: 17px;
    color: #fff;
    line-height: 28px;
    padding-right: 1px;
    text-align: center;
    margin-top: 1px;
}
.critic-book-score .score{
    background-color: #D15A04;
    height: 60px;
    width: 100px;
    font-size: 30px;
    color: #fff;
    padding-right: 1px;
    line-height: 60px;
}

/* SEARCH ------------------------------------------------------------*/

#searchform{}
#searchform #s{
    color:#49494b; 
    font-size:12px; 
    width:160px; 
    height:21px; 
    text-color: black;
    margin:0 0 5px 0;
    padding:2px 35px 2px 8px;
    border:0; 
    background:#f0efeb;
}
#searchform #searchsubmit{
    position:absolute; 
    top:0; 
    right:0;
    width:25px;
    height:25px;
    border:0; 
    background:url("../images/sprites.png") no-repeat transparent 0 0;
}
#searchform #searchsubmit:hover{
    background-position:-27px 0;
}

/* HOME BLOCKS ------------------------------------------------------------*/

.blocks-holder{
    overflow:hidden;
    width:300px;
    display:block;
    float: left;
    padding-left: 0px;
    margin-top: 12px;
    margin-bottom: 16px;
}
.blocks-holder li{
    display:block;
    float:left;
    width:120px;
    position:relative;
    margin-bottom:10px;
    margin-right:0px;
}
.block-data{
    width:100px;
    height:30px;
    text-align: left;
    margin-left:10px;
    margin-top: 3 px;
}
.block-data-h{
    width:100px;
    height:30px;
    text-align: left;
    margin-top: 30px;
    margin-left:10px;
}
.pub-name{
    color:#666; 
    font-size:14px;
    width: 250px;
    text-decoration:none;
    margin-top: 2px;
    font-family:Tahoma,Arial;
    margin-bottom: 12px;
    margin-left: 280px;
    padding-top: 14px;
}
.pub-name label{
    font-weight: bold;
    color:#49494b;
}
.book-dev{

}
.book-edition{
    margin-top: 20px;
} 
.book-rating{
    margin-top: 20px;
}
.book-rel-date{
    margin-top: 20px;
}
.blocks-holder li images{border:1px solid gray;}


/* FOOTER ------------------------------------------------------------*/

#footer{
    position:relative;
    width:100%;
    background:#e5e3dc url("../images/pattern5.jpg");
    border-top:1px solid #fff;
    height: 80px;
}
#footer .degree{
    background:url("../images/top-degree.png") repeat-x; 
    height:100%;
    width:100%;
    padding-top:20px;
    padding-bottom:20px;
}


/* BOTTOM ------------------------------------------------------------*/

#bottom{
    color:#989797;
    font-size:12px;
    line-height:1.5em; 
    font-weight:light;
    width:100%;
    border-top:1px solid #424345;
    background:#0d0d0d;
    text-align: center;
}
#bottom .wrapper{
    background:url("../images/bottom-texture.png") no-repeat;
    width:960px; 
    padding:10px 20px;
}
#bottom a{
    color:#fff;
}

